* {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
button {
  border-style: none;
  cursor: pointer;
}
html,
body {
  min-height: 100%;
}
#App {
  width: 1000px;
  margin: 50px auto;
}
.btn {
  background-color: rgba(192, 14, 14, 0.856);
  color: #ffffff;
  float: right;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  padding: 5px;
  border: 1px rgba(192, 14, 14, 0.856);
  border-radius: 4px;
}